<h1>My Group</h1>

<p><%= @group.description %></p>

<h3>Group Members</h3>
<ul>
<% @members.each do |member| %>
  <li><%= member.name %></li>
<% end %>
</ul>

<br />

<%= link_to 'Debt Board', new_group_path %>
